.head_word {
    text-align: center;
    margin-top: 50px;
    font-size: 28px;
}

.form_word{
    font-size: 24px;
    margin-top: 25px;
}

.admin_form {
    box-sizing: border-box;
    width: 100%;
    margin-top: 25px;
}

.input_form {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    color: white;
    background: #747474;
    font-size: 24px;
    border-radius: 5px;
}

.input_form:focus {
    border-color: white;
    outline: none;
}

/* .admin_form label {
    font-size: 16px;
    color: #747474;
    display: block;
} */

button[name="auth"] {
    width: 100%;
    padding: 14px;
    background-color: #747474;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 25px;
}

button[name="auth"]:hover {
    background-color: white;
    color: #747474;
}

button[name="auth"]:active {
    background-color: #747474;
    color: wihte;
}

.auth_message{
    text-align: center;
    margin-top: 25px;
}


@media (max-width: 1240px) {

    .head_word {
        text-align: center;
        margin-top: 30px;
        font-size: 24px;
    }

    .form_word{
        font-size: 20px;
    }

}
@media (max-width: 940px){

    .head_word{
        font-size: 22px;
    }

    .form_word{
        font-size: 18px;
        margin-top: 25px;
    }
}