.breadcrumbs {
    margin-top: 50px;
    font-size: 24px;
}

.arrow {
    font-size: 24px;
    margin: 0 8px;
}

.head_word{
    margin-top: 25px;
}



@media (max-width: 1240px) {
    .breadcrumbs {
        font-size: 20px;
    }

    .arrow {
        font-size: 20px;
    }
}
@media (max-width: 940px){
    .breadcrumbs {
        margin-top: 25px;
        font-size: 18px;
    }

    .arrow {
        font-size: 18px;
    }

    .head_word{
        margin-top: 15px;
    }
}