.footer {
    background-color: #484848;
    padding: 20px;
    text-align: center;
    border-top: 2px solid #747474;
    max-width: 1080px;
    align-items: center;
    margin: 0 auto;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    font-size: 14px;
}

.footer-link {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #747474;
    border-radius: 4px;
    transition: all 0.3s ease;
    background-color: #747474;
}

.footer-link:hover {
    background-color: #5a5a5a;
    border-color: white;
}

.footer-info {
    color: #747474;
    margin-top: 15px;
    font-size: 14px;
}

@media (max-width: 1240px) {

    .footer {
        max-width: 760px;
    }

    .footer-links {
        font-size: 10px;
    }

}
@media (max-width: 940px){

    .footer {
        padding: 25px;
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
        box-sizing: border-box;
        display: block;
    }

    .footer-links {
        font-size: 10px;
    }

}